.btn {
    width: max-content;
    display: inline-block;
    padding: 0.4rem 0.3rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color: #fffafa;
    border: 1px solid #00ADB5;
    width: 60px;
    text-decoration: none;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: transparent;
}


.btn:hover {
    background: #393E46;
}