body {
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    color: #EEEEEE;
}

.top {
    display: grid;
    grid-template-columns: 40% 52%;
    gap: 8%;
}

#root {
    display: flex;
    flex-direction: column;
}

#answerDefaultValue, #checkerDefaultValue {
    font-size: 45px;
}

#ans, #check {
    font-size: 35px;
}

#answerDefaultValue, #ans {
    display: inline;
}

#checkerDefaultValue, #check {
    display: inline;
}