body {
    font-family: 'Poppins', sans-serif;
    background-color: #222831;
    color: #EEEEEE;
}


#float {
    float: left;
    padding: 10px;
}

#root {
    display: flex;
    flex-direction: column;
}

#answerDefaultValue, #checkerDefaultValue {
    font-size: 45px;
}

#ans, #check {
    font-size: 25px;
}

#answerDefaultValue, #ans {
    display: inline;
}

#checkerDefaultValue, #check {
    display: inline;
}

#reveal {
    color: red;
    font-size: 15px;
}